Flask==3.1.0
flask-cors==5.0.0
pymongo==4.10.1
pydantic==2.10.3
Pillow==11.0.0
imagehash==4.3.1
PyMuPDF==1.24.14
python-docx==1.1.2
python-pptx==1.0.2
scikit-learn==1.6.0
numpy==2.2.1
python-dotenv==1.0.1
pytest==8.3.4
